{
    "addrs": ["127.0.0.1:12345","127.0.0.1:12346"],
    "log_window_sz": 4,
    "log_num_buckets": 8,
    "depth": 8,
    "query_type": "point",
    "reps": 1,
    "run_name": "test",
    "num_ands": 4,
    "num_searches": 1,
    "num_appends": 9,
    "seconds": 20,
    "experiment_dir": "/home/user/MyFile/tsdb/results"
}
